.allTrainers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0 auto;

}

.trainer {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;

}